@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


    section {
        max-width: 1620px;
        justify-self: center;
    }

    h1, h2, h3, h4 {
        font-family: "Oswald", sans-serif;
        color: black;
    }

    h1 {
        font-weight: 400;
        font-size: 58px;
    }

    h2 {
        font-weight: 300;
        font-size: 34px;
    }

    h3 {
        font-weight: 200;
        font-size: 22px;
    }

    h4 {
        font-weight: 100;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: var(--txtColorStandart);
    }

    a:hover {
        color: var(--txtColorHover);
        transition-duration: 200ms;
        transition-property: color;
    }
    
    p {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 24px;
        color: black;
        padding: 0;
    }